<header class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/dashboard">
    <span class="text-primary">ADVANCED</span>
    LMS
  </a>
  <ng-template [ngIf]="user">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <small class="align-middle ml-1 sr-only">Menu</small>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="!user.unclaimed">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/find-tasks" routerLinkActive="active">Find tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/organizations" routerLinkActive="active">Organizations</a>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <button class="btn btn-link nav-link dropdown-toggle" id="navbarDropdown" type="button" ngbDropdownToggle aria-haspopup="true">
            <fa-icon [icon]="faUser"></fa-icon>
            <span class="ml-2">{{ user.fName }} {{ user.lName }}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <ng-container *ngIf="!user.unclaimed">
              <a class="dropdown-item" [routerLink]="['/users', user._id]">My profile</a>
              <a class="dropdown-item" routerLink="/billing">Billing</a>
              <div class="dropdown-divider"></div>
            </ng-container>
            <a class="dropdown-item" href="#" (click)="logOut()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</header>
